@import "../../app/consts";

.navbar {
  background-color: $secondary-background-color;
  color: $secondary-text-color;

  .logo {
    font-size: 3em;
  }

  .weather-select {
    padding: 0.9em;
    font-size: 1.2em;
  }
}
